{% extends "index.html" %}

{% block content %}
    <table>

        {% for field in fields %}
            <tr valign="top">
                <td>{{ field }}</td>
                  {% if field  == "people" %}
                    <table>
                         {% for people in data[field] %}
                             <tr valign="top">
                                 <a href="/people/{{ people['id'] }}">people["name"]</a>
                             </tr>
                         {% endfor %}
                    </table>

                  {% elif  field  == "films" %}
                     <table>
                         {% for film in data[field] %}
                             <tr valign="top">
                                 <a href="/movies/{{ film['id'] }}">film["title"]</a>
                             </tr>
                         {% endfor %}
                    </table>
                  {% else}
                         <td>{{ data[field] }}</td>
                  {% endif %}

            </tr>
        {% endfor %}
    </table>
{% endblock %}