{% extends "index.html" %}

{% block content %}
    <table>

        {% for field in fields %}
            <tr valign="top">
                <td>{{ field }}</td>
                <td>
                  {% if field  == "people" %}
                    <table>
                         {% for people in data[field] %}
                             <tr valign="top">
                                  <td>
                                    <a href="/people/{{ people['id'] }}">{{ people["name"] }}</a>
                                  </td>
                             </tr>
                         {% endfor %}
                    </table>

                  {% elif  field  == "films" %}
                     <table>
                         {% for film in data[field] %}
                             <tr valign="top">
                                  <td>
                                    <a href="/movies/{{ film['id'] }}">{{ film["title"] }}</a>
                                 </td>
                             </tr>
                         {% endfor %}
                    </table>
                  {% else %}
                    {{ data[field] }}
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}